:root {
    /* --background:#f3f1f9; */
    /* --toast-background: #292B2D; */
    --toast-background: #424242;
    --toast-success: #9CE6A8;
    --text: white;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--toast-background);
    color: var(--text);
    max-width: 320px;
    visibility: hidden;
    animation: fade-in 3s linear;
    border-radius: 10px;
}

.notification__body {
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.notification__description {
    display: flex;
    gap: 5px;
    align-items: center;
}

.notification__icon {
    height: 26px;
    width: 26px;
}

.notification__progress {
    position: absolute;
    left: 8px;
    bottom: 4px;
    width: calc(100% - 20px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
        to right, 
        var(--toast-background),  
        var(--toast-success)
    );
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

.icon__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--toast-success);
    margin-right: 8px;
    padding: 6px;
}

.icon__wrapper svg {
    stroke: var(--toast-background);
    stroke-width: 3px;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

/* .notification__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.1rem;
    white-space: nowrap;
    margin-left: 20px;
    flex-grow: 1;
    color: var(--text);
} */

/* .notification__button:hover {
    text-decoration: underline;
} */
